@font-face {
  font-family: 'gilroy';
  src: url('radomir_tinkov_-_gilroy-bold-webfont.woff2') format('woff2'),
       url('radomir_tinkov_-_gilroy-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'gilroy';
  src: url('radomir_tinkov_-_gilroy-medium-webfont.woff2') format('woff2'),
       url('radomir_tinkov_-_gilroy-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}