@mixin header-underline--left {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    height: 0.25rem;
    width: 8.875rem;

    background-color: var(--light-blue);
  }
}

@mixin header-underline--center {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 50%;

    height: 0.25rem;
    width: 4.5rem;
    margin-left: calc(-4.5rem / 2);

    background-color: var(--light-blue);
  }
}
