@import '../../scss/mixins.scss';

.container {
  padding-top: 5.469vw;
}

.intro {
  text-align: center;
}

.heading {
  @include header-underline--center;

  margin-bottom: 1rem;
  margin-top: 0;
  padding-bottom: 1.25rem;

  color: var(--purple);
}

.description {
  margin-right: auto;
  margin-bottom: 2.7345vw;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  @media (min-width: 48rem) {
    width: 50vw;
  }
}
