.container {
  margin-top: (5.469vw / 2);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}
