.container {
  display: grid;
  grid-gap: 1rem;
  padding-right: var(--site-side-padding);
  padding-bottom: 10vw;
  padding-left: var(--site-side-padding);
}

.row {
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 425px) {
    grid-template-columns: auto 1fr auto;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
