@import '../../../scss/mixins.scss';

.container {
  padding-right: var(--site-side-padding);
  padding-bottom: 10vw;
  padding-left: var(--site-side-padding);
}

.heading {
  @include header-underline--left;

  margin-top: 0;
  padding-bottom: 1.5rem;

  color: var(--purple);
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
