.openToggle {
  @media (min-width: 64rem) {
    display: none;
  }

  > div {
    height: 0.25rem;
    border-radius: 0.125rem;
  }

  > div:nth-child(1),
  > div:nth-child(3) {
    width: 1.875rem;

    background-color: var(--purple);
  }

  > div:nth-child(2) {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 1.5625rem;

    background-color: var(--light-blue);
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;

  display: none;
  grid-template-rows: 2.8125rem 1fr;
  height: 100vh;
  width: 100vw;

  background-color: var(--purple);

  @media (min-width: 64rem) {
    display: none;
  }

  > div:nth-child(2) {
    align-self: center;
    justify-self: center;
  }

  &.active {
    display: grid;

    @media (min-width: 64rem) {
      display: none;
    }
  }
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  height: 2.8125rem;

  > div:nth-child(2)  {
    align-self: center;
    justify-self: end;
  }
}

.logo {
  height: 1.625rem;
  margin-left: 1rem;
  width: auto;
}

.closeToggle {
  padding: 0.5rem 1rem 0.5rem 0.5rem;

  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;

  background-color: transparent;
  border: 0;
  transform: translateY(0.25rem);
}

.nav {
  align-self: center;
}

.links  {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;

  list-style-type: none;

  a {
    display: block;

    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
  }
}

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-height);
  padding-right: var(--btn-padding-x);
  padding-left: var(--btn-padding-x);

  color: #fff;
  font-weight: var(--btn-font-weight);
  min-inline-size: fit-content;
  text-align: center;
  text-decoration: none;

  border: var(--btn-border-width) solid #fff;

  &:hover {
    color: var(--purple);

    background-color: #fff;
  }
}
