.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-height);
  padding-right: var(--btn-padding-x);
  padding-left: var(--btn-padding-x);

  color: #fff;
  font-weight: var(--btn-font-weight);
  text-decoration: none;

  background-color: var(--purple);
  border: 0;
  cursor: pointer;
  transition: all 0.15s ease-out;

  &:hover {
    text-decoration: none;

    background-color: var(--neon-purple);
  }

  &.outline {
    background-color: transparent;
    border: var(--btn-border-width) solid var(--neon-purple);

    &:hover {
      background-color: var(--neon-purple);
    }
  }
}
