.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;

  color: #fff;
  font-weight: bold;
  text-decoration: none;

  background-color: var(--purple);
}
