.container {
  position: relative;

  background-color: #f0f9fb;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (4 / 3) * 100%;
  }

  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
