.container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
  grid-gap: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
}

.blockquote {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 3rem 2rem;

  color: #fff;

  background-color: var(--purple);

  p {
    margin-top: 0;
    margin: 0;

    font-size: 24px;
    line-height: 1.6;
  }
}
