.container {
  padding: 5.469vw 7.813vw;

  color: #fff;

  background: var(--blue) url(./background.svg) center center no-repeat;
  background-size: cover;
}

.heading {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;

  &::after {
    content: '';

    display: block;
    height: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 50%;

    background-color: #fff;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1.125rem;

  @media (min-width: 48rem) {
    width: 50%;
  }
}
