@import '../../scss/mixins.scss';

.container {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding: (7.813vw / 2) 7.813vw;
}

.text {
  align-self: center;
}

.heading {
  @include header-underline--left;

  margin-top: 0;
  padding-bottom: 1.5rem;

  color: var(--purple);
}

.imageWrapper {
  position: relative;

  &::before {
    content: '';

    display: block;
    width: 100%;
    padding-top: (3 / 4) * 100%;

    background-color: var(--light-blue);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.flip {
  .text {
    order: 1;
  }
}

.invert {
  color: #fff;

  background-color: var(--blue);

  .heading {
    color: #fff;

    &::after {
      background-color: #fff;
    }
  }

  .imageWrapper {
    &::before {
      background-color: #fff;
    }
  }
}
