.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40rem;

  color: #fff;
  text-align: center;

  background-color: var(--neon-purple);

  .color {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: #000;
    mix-blend-mode: color;
  }

  .brighten {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    background-color: #fff;
    mix-blend-mode: lighten;
    opacity: 0.5;
  }

  .multiply {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    width: 100%;
    height: 100%;

    background-color: #9E14E1;
    mix-blend-mode: multiply;
  }

  .lighten {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 4  ;

    width: 100%;
    height: 100%;

    background-color: #4f2265;
    mix-blend-mode: lighten;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.heading,
.subheading {
  position: relative;
  z-index: 5;
}

.heading {
  margin-top: 0;
  margin-bottom: 1.25rem;
  max-width: 40.625rem;

  line-height: 0.9;
  text-transform: uppercase;

  @media (max-width: 80rem) {
    font-size: 6.25vw;
  }

  @media (max-width: 48rem) {
    font-size: 32px;
  }

  @media (min-width: 80rem) {
    font-size: 5rem;
  }
}

.subheading {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 40.625rem;
  padding-right: 1rem;
  padding-left: 1rem;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;

  @media (min-width: 48rem) {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
