.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40rem;

  color: #fff;
  text-align: center;

  background-color: #9d1ce0;
}

.heading {
  margin-top: 0;
  margin-bottom: 1.25rem;
  max-width: 40.625rem;

  line-height: 0.9;
  text-transform: uppercase;

  @media (max-width: 80rem) {
    font-size: 6.250vw;
  }

  @media (min-width: 80rem) {
    font-size: 5rem;
  }
}

.subheading {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 40.625rem;

  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
}
