.heading {
  margin-top: 0;
  margin-bottom: 0.5rem;

  color: var(--purple);
}

.icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
}
