.iconWrapper {
  position: relative;

  border: 8px solid #bda9c7;
  border-radius: 1rem;

  &::before {
    content: '';

    display: block;
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }

  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.description {
  font-size: 1rem;
  text-align: center;
}
