.container {
  position: relative;

  padding: 9.467vw;

  color: #fff;
  text-align: center;

  background-color: #222;
}

.bgText {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #2e2e2e;
  font-size: 16vw;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 425px) {
    display: none;
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 40px;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;

  text-align: left;

  @media (min-width: 48rem) {
    column-count: 2;
  }

  p:first-child {
    margin-top: 0;
  }
}
