@import '../../../scss/mixins.scss';

.container {
  position: relative;

  display: grid;
  align-items: center;
  grid-gap: 9.467vw;
  padding: 4rem 9.467vw;
  overflow: hidden;

  color: #fff;

  background-color: #222;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
    height: 50rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.heading {
  @include header-underline--left;

  margin-top: 0;
  margin-bottom: 2.75rem;
  padding-bottom: 3rem;

  @media (max-width: 80rem) {
    font-size: 2.188vw;
  }

  @media (max-width: 48rem) {
    font-size: 1.25rem;
  }

  @media (min-width: 80rem) {
    font-size: 1.75rem;
  }
}

.description {
  margin-bottom: 3rem;

  @media (min-width: 64rem) {
    width: 75%;
  }
}

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-height);
  padding-right: var(--btn-padding-x);
  padding-left: var(--btn-padding-x);

  color: #fff;
  font-weight: var(--btn-font-weight);
  text-decoration: none;

  border: var(--btn-border-width) solid var(--neon-purple);

  &:hover {
    background-color: var(--neon-purple);
  }
}
