.container {
  position: relative;

  display: grid;
  align-items: center;
  grid-gap: 9.467vw;
  padding: 4rem 9.467vw;
  overflow: hidden;

  color: #fff;

  background-color: #222;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
    height: 50rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  &::after {
    content: 'Beacon';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #2e2e2e;
    font-size: 18.75vw;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 64rem) {
      font-size: 10rem;
      transform: rotate(90deg);
    }
  }

  > div {
    position: relative;
    z-index: 1;
  }

  > div:nth-child(2) {
    justify-self: center;
  }
}

.heading {
  position: relative;

  margin-top: 0;
  margin-bottom: 2.75rem;
  padding-bottom: 3rem;

  @media (max-width: 80rem) {
    font-size: 2.188vw;
  }

  @media (max-width: 48rem) {
    font-size: 1.25rem;
  }

  @media (min-width: 80rem) {
    font-size: 1.75rem;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    height: 0.25rem;
    width: 8.875rem;

    background-color: var(--light-blue);
  }
}

.description {
  margin-bottom: 3rem;

  @media (min-width: 64rem) {
    width: 75%;
  }
}

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-height);
  padding-right: var(--btn-padding-x);
  padding-left: var(--btn-padding-x);

  color: #fff;
  font-weight: var(--btn-font-weight);
  text-decoration: none;

  border: var(--btn-border-width) solid var(--neon-purple);

  &:hover {
    background-color: var(--neon-purple);
  }
}

.infoGraphic {
  display: grid;
  grid-template-columns: 1fr 24px 1fr;
  grid-template-rows: 1fr 24px 1fr 24px 1fr;
  width: 15rem;

  @media (min-width: 64rem) {
    width: 24.5rem;
  }
}

.infoGraphic__cell {
  position: relative;

  border: 0.125rem dashed var(--neon-purple);
  border-radius: 1rem;

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }

  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;

    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;

    @media (min-width: 64rem) {
      font-size: 1rem;
    }
  }
}

.dashes {
  align-self: center;
  justify-self: center;

  svg {
    display: block;
  }
}

.rotate {
  transform: rotate(90deg);
}
