@import '../../../scss/mixins.scss';

.container {
  position: relative;

  display: grid;
  align-items: center;
  grid-gap: 9.467vw;
  padding: 106vw 9.467vw 4rem;
  overflow: hidden;

  color: #fff;

  background: #222 url(./background-mobile.svg) top center no-repeat;
  background-size: contain;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 8rem;
    padding-bottom: 8rem;

    background-image: url(./background.svg);
    background-position: right -5rem center;
    background-size: auto;
  }
}

.heading {
  @include header-underline--left;

  margin-top: 0;
  margin-bottom: 2.75rem;
  padding-bottom: 3rem;

  font-size: 2rem;
  text-shadow: 0 8px 40px black;

  @media (min-width: 80rem) {
    font-size: 3rem;
  }
}

.description {
  margin-bottom: 3rem;

  @media (min-width: 64rem) {
    width: 75%;
  }
}

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-height);
  padding-right: var(--btn-padding-x);
  padding-left: var(--btn-padding-x);

  color: #fff;
  font-weight: var(--btn-font-weight);
  text-decoration: none;

  border: var(--btn-border-width) solid var(--neon-purple);

  &:hover {
    background-color: var(--neon-purple);
  }
}
