.container {
  color: #fff;

  background-color: #222;
}

.heading {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 3rem;

  @media (max-width: 80rem) {
    font-size: 2.188vw;
  }

  @media (min-width: 80rem) {
    font-size: 28px;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    height: 0.25rem;
    width: 8.875rem;

    background-color: var(--light-blue);
  }
}

.description {}
