.container {
  display: grid;
  grid-gap: 1rem;
  padding-right: var(--site-side-padding);
  padding-left: var(--site-side-padding);
}

.row {
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 425px) {
    grid-template-columns: 1fr auto;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}
