.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  height: 2.8125rem;
  padding-right: 1rem;
  padding-left: 1rem;

  background-color: #fff;

  @media (min-width: 64rem) {
    height: 6.25rem;
    grid-template-columns: 1fr 2fr 1fr;
  }

  // CTA Button
  > div:nth-child(3) {
    justify-self: end;
  }
}

.logo {
  height: 1.625rem;
  width: auto;

  @media (min-width: 64rem) {
    margin-top: -1rem;
    height: 3.125rem;
  }
}

.nav {
  display: none;

  @media (min-width: 64rem) {
    display: block;
    justify-self: center;
  }
}

.links {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;

  li {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }

  a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }
}

.cta {
  display: none;

  @media (min-width: 64rem) {
    display: block;
  }
}
